# Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparison Operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values(other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers o and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a tryth value.

They are written as False and True, respectively.

In [1]:
bool()

False

In [1]:
print(True,False)

True False

In [2]:
type(True)

bool

In [3]:
type(False)

bool

In [2]:
my_str="Masruf Jaman"

In [9]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('n')) #test if string endswith d
print(my_str.startswith('H')) #test if string startswith H

False
False
False
True
False
False
False
True
False

## Boolean and Logical Operators

In [11]:
True and True

True

In [12]:
True and False

False

In [13]:
True or False

True

In [14]:
True or True

True

In [15]:
str_example='Hello world'
my_str='masruf'

In [17]:
my_str.isalpha() or str_example.isnum()

True

## Lists
A list is a data structure in Python that is a mutable, or changeable, orderd sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets[ ]

In [3]:
type([])

list

In [19]:
lst_example=[]

In [20]:
type(lst_example)

list

In [21]:
lst=list()

In [22]:
type(lst)

list

In [5]:
lst=['Mathematics', 'Chemistry', 100, 200, 300, 204]

In [6]:
len(lst)

6

In [24]:
type(lst)

list

## Append

In [24]:
# append is used to add elements in the list
lst.append("Jaman")

In [25]:
## it's create nested list

lst.append(['sunvi', 'abid'])

In [26]:
lst

['Mathematics',
 'Masruf',
 'Chemistry',
 100,
 200,
 300,
 204,
 'Jaman',
 ['sunvi', 'abid'],
 ['sunvi', 'abid'],
 ['Hello', 'World'],
 'Jaman',
 ['sunvi', 'abid']]

In [27]:
## Indexing in list
lst[6]

204

In [28]:
lst[1:6]

['Masruf', 'Chemistry', 100, 200, 300]

## Insert

In [29]:
## insert in a specific order

lst.insert(1, "Masruf")

In [30]:
lst

['Mathematics',
 'Masruf',
 'Masruf',
 'Chemistry',
 100,
 200,
 300,
 204,
 'Jaman',
 ['sunvi', 'abid'],
 ['sunvi', 'abid'],
 ['Hello', 'World'],
 'Jaman',
 ['sunvi', 'abid']]

In [31]:
lst.append(["Hello","World"])

In [32]:
lst

['Mathematics',
 'Masruf',
 'Masruf',
 'Chemistry',
 100,
 200,
 300,
 204,
 'Jaman',
 ['sunvi', 'abid'],
 ['sunvi', 'abid'],
 ['Hello', 'World'],
 'Jaman',
 ['sunvi', 'abid'],
 ['Hello', 'World']]

In [33]:
lst=[1,2,3]

In [34]:
lst.append([4,5])

In [35]:
lst

[1, 2, 3, [4, 5]]

## Extend Method

In [38]:
lst=[1,2,3,4,5,6]

In [39]:
lst.extend([8,9])

In [40]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

## Various Operations that we can perform in List

In [46]:
lst=[1,2,3,4,5]

In [47]:
sum(lst)

15

In [49]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## Pop() Method

In [39]:
lst.pop()

5

In [40]:
lst

[1, 2, 3, 4]

In [41]:
lst.pop(0)

1

In [42]:
lst

[2, 3, 4]

## count():Calculates total ocurrence of given element of List

In [42]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [43]:
#Length:Calculates total length of list
len(lst)

6

In [44]:
#index():Returns the index of first occurences, start and End index are not necessary parameters
lst.index(1,1,4)

1

In [45]:
##Min and Max
min(lst)

1

In [47]:
max(lst)

5